@model ConsoleAppProject.App02.BmiCalculator
@{
    ViewData["Title"] = "BMI Calculator";
}

<header class="jumbotron">
    <h1>BMI Calculator</h1>
    <h2>by Tyronne Bradburn</h2>
    <p>
        This app will use your height and weight and then
        calculates a BMI Index to classify yourr health risks
    </p>
</header>
<section>
    <form method="post">
        <h2>Height</h2>
        <p>
            Please enter your height to the nearest whole number
            either in metric or imprtial units
        </p>
        <p>
            <input type="number" placeholder="Feet" 
                   value="6" asp-for="@Model.Feet"/>
            <input type="number" placeholder="Inches" 
                   value="0" asp-for="@Model.Inches"/>
        </p>
        <p>
            <input type="number" placeholder="Centimeters" 
                   asp-for="@Model.Centimetres"/>
        </p>

        <h2>Weight</h2>
        <p>
            <input type="number" placeholder="Stones" 
                   value="11" asp-for="@Model.Stones"/>
            <input type="number" placeholder="Pounds"
                   value="5" asp-for="@Model.Pounds"/>
        </p>
        <p>
            <input type="number" placeholder="Kilograms" 
                   value="" asp-for="@Model.Kilograms"/>
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>
    </form>
</section>


