@model IEnumerable<WebApps.Models.Post>

@{
    ViewData["Title"] = "Add Posts";
}

<header>
    <h1>Posts Homepage</h1>
</header>

<p>
    <a class="btn btn-info" asp-controller="MessagePosts" asp-action="index">Add Message</a>
    <a class="btn btn-info" asp-controller="PhotoPosts" asp-action="index">Add Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PostId
            </th>
            <th>
                Username
            </th>
            <th>
                Message
            </th>
            <th>
                Photo
            </th>
            <th>
                Caption
            </th>
            <th>
                Timestamp
            </th>
            <th>
                Likes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            MessagePost message = null;
            PhotoPost photo = null;

            if (item is MessagePost)
            {
                message = (MessagePost)item;
            }

            if (item is PhotoPost)
            {
                photo = (PhotoPost)item;
            }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @if (message != null)
                {
                    <span>@message.Message</span>
                }
                else
                {
                    <span>Null</span>
                }
            </td>
            <td>
                @if (photo != null)
                {
                    <span>@photo.Filename</span>
                }
                else
                {
                    <span>Null</span>
                }
            </td>
            <td>
                @if (photo != null)
                {
                    <span>@photo.Caption</span>
                }
                else
                {
                    <span>Null</span>
                }
            </td>
            <td>
                @item.FormatElapsedTime();
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.likes)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PostId">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
         }
    </tbody>
</table>
