@model IEnumerable<WebApps.Models.Post>

@{
    ViewData["Title"] = "Add Posts";
}

<header class="jumbotron">
    <h1>Posts Homepage</h1>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search:
                <input type="text" name="SearchString"
                       value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-info" />
                <a class="btn btn-secondary" asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
</header>

<p>
    <a class="btn btn-info" asp-controller="MessagePosts" asp-action="index">Add Message</a>
    <a class="btn btn-info" asp-controller="PhotoPosts" asp-action="index">Add Photo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PostIDSortParm"]">
                    @Html.DisplayNameFor(model => model.PostId)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                    @Html.DisplayNameFor(model => model.Username)
                </a>
            </th>
            <th>
                Message
            </th>
            <th>
                Photo
            </th>
            <th>
                Caption
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </a>
            </th>
            <th>
                Likes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            MessagePost message = null;
            PhotoPost photo = null;

            if (item is MessagePost)
            {
                message = (MessagePost)item;
            }

            if (item is PhotoPost)
            {
                photo = (PhotoPost)item;
            }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @if (message != null)
                {
                    <span>@message.Message</span>
                }
                else
                {
                    <span>Null</span>
                }
            </td>
            <td>
                @if (photo != null)
                {
                    <span>@photo.Filename</span>
                }
                else
                {
                    <span>Null</span>
                }
            </td>
            <td>
                @if (photo != null)
                {
                    <span>@photo.Caption</span>
                }
                else
                {
                    <span>Null</span>
                }
            </td>
            <td>
                @item.FormatElapsedTime();
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.likes)
            </td>
            <td>
                @if (item is MessagePost)
                {
                    <a asp-action="Edit" class="btn btn-success"
                       asp-controller="MessagePosts"
                       asp-route-id="@item.PostId">Edit</a>
                    <a asp-action="Details" class="btn btn-info"
                       asp-controller="MessagePosts"
                       asp-route-id="@item.PostId">Details</a>
                    <a asp-action="Delete" class="btn btn-danger"
                       asp-controller="MessagePosts"
                       asp-route-id="@item.PostId">Delete</a>
                }
                else if (item is PhotoPost)
                {
                    <a asp-action="Edit" class="btn btn-success"
                       asp-controller="PhotoPosts"
                       asp-route-id="@item.PostId">Edit</a>
                    <a asp-action="Details" class="btn btn-info"
                       asp-controller="PhotoPosts"
                       asp-route-id="@item.PostId">Details</a>
                    <a asp-action="Delete" class="btn btn-danger"
                       asp-controller="PhotoPosts"
                       asp-route-id="@item.PostId">Delete</a>
                }
            </td>
        </tr>
         }
    </tbody>
</table>
