@model WebApps.Models.MessagePost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MessagePost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.likes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.likes)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Comments == null || Model.Comments.Count() == 0)
    {
        <p>
            No comments have been posted yet!
        </p>
    }
    else
    {
        foreach (Comment comment in Model.Comments)
        {
            <p>
                @comment.Text
            </p>
        }
    }
</div>
<div>
    <a class="btn btn-danger" title="Should be only be availble to the author"
       asp-action="Edit" asp-route-id="@Model.PostId">
        Edit
    </a>
    <a class="btn btn-success" asp-action="Like" title="like"
       asp-route-id="@Model.PostId">
        <i class="bi bi-hand-thumbs-up"></i>
    </a>
    <a class="btn btn-warning" asp-action="Unlike" title="Unlike"
       asp-route-id="@Model.PostId">
        <i class="bi bi-hand-thumbs-down"></i>
    </a>
    <a class="btn btn-info" asp-action="Create" title="Comment"
       asp-controller="Comments"
       asp-route-id="@Model.PostId">
        <i class="bi bi-chat-left-text"></i>
        Comment
    </a>
    <a class="btn btn-secondary" asp-controller="MessagePosts" asp-action="Index">&lt;&lt;Back to Messages</a>
</div>