@model IEnumerable<WebApps.Models.MessagePost>

@{
    ViewData["Title"] = "Index";
}

<header class="jumbotron">
    <h1>Messages Posts</h1>
    <h2>By Tyronne Bradburn</h2>
    <p>
        You can post a message and view other users messages. 
        You can also like, unlike and comment on these posts.
    </p>
</header>

<p>
    <a class="btn btn-success" asp-action="Create">Add Message</a>

    <a class="btn btn-info"
       asp-action="Index"
       asp-controller="PhotoPosts">
        View Photo
    </a>

    <a class="btn btn-info"
       asp-action="Index"
       asp-controller="Posts">
        Homepage
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.likes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.likes)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
